# Dependências
node_modules/

# Build
dist/
.angular/
.out-tsc/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações locais do VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json